<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autoID</key>
		<integer>2</integer>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va+gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA5AIAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGFwcGxlAAAABwAAAAEB
		AABMaWJyYXJ5ABQAAAABAQAAQXV0b3NhdmUgSW5mb3JtYXRpb24iAAAAAQEA
		AFVuc2F2ZWQgWGNvZGUgRG9jdW1lbnQueGN3b3Jrc3BhY2UAABQAAAABBgAA
		BAAAABQAAAAkAAAANAAAAFAAAAAIAAAABAMAAB0AAAAAAAAACAAAAAQDAACR
		yRgAAAAAAAgAAAAEAwAAnMkYAAAAAAAIAAAABAMAAK7JGAAAAAAACAAAAAQD
		AADKXSAAAAAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgAAAAIAAAAAAQA
		AEHBanuJEVGdGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
		BAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
		AQAATWFjaW50b3NoIEhECAAAAAQDAAAAYEZkOgAAAAgAAAAABAAAQcFB3KCA
		AAAkAAAAAQEAADQwRkE0MEIwLTg5NzctNDhBRC1BNkYxLTE4MjcxNzk2MkIx
		RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
		AAAAAAEFAADmAAAAAQIAADM2NmI0ZTA2NDRkOTY5YTZhZDUyNmMxY2JmM2Y5
		NDdhZWNiMmJlMmI7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAw
		MDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0
		ZTswMTswMTAwMDAwNDswMDAwMDAwMDAwMjA1ZGNhOzAxOy91c2Vycy9hcHBs
		ZS9saWJyYXJ5L2F1dG9zYXZlIGluZm9ybWF0aW9uL3Vuc2F2ZWQgeGNvZGUg
		ZG9jdW1lbnQueGN3b3Jrc3BhY2UAAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
		AAB8AAAAAAAAAAUQAADoAAAAAAAAABAQAAAUAQAAAAAAAEAQAAAEAQAAAAAA
		AAIgAADgAQAAAAAAAAUgAABQAQAAAAAAABAgAABgAQAAAAAAABEgAACUAQAA
		AAAAABIgAAB0AQAAAAAAABMgAACEAQAAAAAAACAgAADAAQAAAAAAADAgAADs
		AQAAAAAAAAHAAAA0AQAAAAAAABHAAAAUAAAAAAAAABLAAABEAQAAAAAAAIDw
		AAD0AQAAAAAAAA==
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2019-07-09T17:50:44Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>autoID</key>
		<integer>3</integer>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va+gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA5AIAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGFwcGxlAAAABwAAAAEB
		AABMaWJyYXJ5ABQAAAABAQAAQXV0b3NhdmUgSW5mb3JtYXRpb24kAAAAAQEA
		AFVuc2F2ZWQgWGNvZGUgRG9jdW1lbnQgMi54Y3dvcmtzcGFjZRQAAAABBgAA
		BAAAABQAAAAkAAAANAAAAFAAAAAIAAAABAMAAB0AAAAAAAAACAAAAAQDAACR
		yRgAAAAAAAgAAAAEAwAAnMkYAAAAAAAIAAAABAMAAK7JGAAAAAAACAAAAAQD
		AABpXyAAAAAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgAAAAIAAAAAAQA
		AEHBan6ZOGJcGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
		BAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
		AQAATWFjaW50b3NoIEhECAAAAAQDAAAAYEZkOgAAAAgAAAAABAAAQcFB3KCA
		AAAkAAAAAQEAADQwRkE0MEIwLTg5NzctNDhBRC1BNkYxLTE4MjcxNzk2MkIx
		RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
		AAAAAAEFAADoAAAAAQIAADE4ZjVmOTNiYWQ1MDZlMDE5MmEwODg4Y2Y1N2Q0
		OGFlZDE0YTBiMGM7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAw
		MDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0
		ZTswMTswMTAwMDAwNDswMDAwMDAwMDAwMjA1ZjY5OzAxOy91c2Vycy9hcHBs
		ZS9saWJyYXJ5L2F1dG9zYXZlIGluZm9ybWF0aW9uL3Vuc2F2ZWQgeGNvZGUg
		ZG9jdW1lbnQgMi54Y3dvcmtzcGFjZQDMAAAA/v///wEAAAAAAAAAEAAAAAQQ
		AAB8AAAAAAAAAAUQAADoAAAAAAAAABAQAAAUAQAAAAAAAEAQAAAEAQAAAAAA
		AAIgAADgAQAAAAAAAAUgAABQAQAAAAAAABAgAABgAQAAAAAAABEgAACUAQAA
		AAAAABIgAAB0AQAAAAAAABMgAACEAQAAAAAAACAgAADAAQAAAAAAADAgAADs
		AQAAAAAAAAHAAAA0AQAAAAAAABHAAAAUAAAAAAAAABLAAABEAQAAAAAAAIDw
		AAD0AQAAAAAAAA==
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2019-07-09T17:50:44Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va+gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA5AIAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGFwcGxlAAAABwAAAAEB
		AABMaWJyYXJ5ABQAAAABAQAAQXV0b3NhdmUgSW5mb3JtYXRpb24kAAAAAQEA
		AFVuc2F2ZWQgWGNvZGUgRG9jdW1lbnQgMy54Y3dvcmtzcGFjZRQAAAABBgAA
		BAAAABQAAAAkAAAANAAAAFAAAAAIAAAABAMAAB0AAAAAAAAACAAAAAQDAACR
		yRgAAAAAAAgAAAAEAwAAnMkYAAAAAAAIAAAABAMAAK7JGAAAAAAACAAAAAQD
		AABsYiAAAAAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgAAAAIAAAAAAQA
		AEHBaoW6UpL1GAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
		BAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
		AQAATWFjaW50b3NoIEhECAAAAAQDAAAAYEZkOgAAAAgAAAAABAAAQcFB3KCA
		AAAkAAAAAQEAADQwRkE0MEIwLTg5NzctNDhBRC1BNkYxLTE4MjcxNzk2MkIx
		RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
		AAAAAAEFAADoAAAAAQIAADJiMTExNWU1NGEzZTBjNmU1ZmExOThmNjNiNTI1
		OGM5NmQyMDk2MDM7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAw
		MDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0
		ZTswMTswMTAwMDAwNDswMDAwMDAwMDAwMjA2MjZjOzAxOy91c2Vycy9hcHBs
		ZS9saWJyYXJ5L2F1dG9zYXZlIGluZm9ybWF0aW9uL3Vuc2F2ZWQgeGNvZGUg
		ZG9jdW1lbnQgMy54Y3dvcmtzcGFjZQDMAAAA/v///wEAAAAAAAAAEAAAAAQQ
		AAB8AAAAAAAAAAUQAADoAAAAAAAAABAQAAAUAQAAAAAAAEAQAAAEAQAAAAAA
		AAIgAADgAQAAAAAAAAUgAABQAQAAAAAAABAgAABgAQAAAAAAABEgAACUAQAA
		AAAAABIgAAB0AQAAAAAAABMgAACEAQAAAAAAACAgAADAAQAAAAAAADAgAADs
		AQAAAAAAAAHAAAA0AQAAAAAAABHAAAAUAAAAAAAAABLAAABEAQAAAAAAAIDw
		AAD0AQAAAAAAAA==
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2019-07-09T17:50:44Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
